div{
	font-family: 'Arial';
	background-color: #a8cf45;
	text-align: center;
	font-weight: bolder;
	position: relative;
	width: 120px;
	height: 50px;
	margin: 15px 2px;
	padding: 5px 40px;
}

div.fadein{
	font-family: 'Arial';
	background-color: #a8cf45;
	text-align: center;
	font-weight: bolder;
	position: relative;
	width: 120px;
	height: 60px;
	margin: 50px 0 0 20px;
	padding: 0px;
	overflow: hidden;
}

.fadein p{
	position: absolute;
	top: 10%;
	left: 20%
}

.tapa{
	width: 100%;
	height: 100%;
	top: 0;
	left: 120px;
	position: absolute;
	background: white;
	z-index: 10;
	-moz-animation: 2s retirada 1;
	margin: 0px;
	padding: 0px;
}

@-moz-keyframes retirada{
	0%{
		left: 0px;
	}
}

.fade{
	-moz-animation: 2s fade 1;
}

@-moz-keyframes fade{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.8;
	}
}

.salidavariante{
	-moz-animation: 1s salidavariante 1;
}

@-moz-keyframes salidavariante{
	20%{
		opacity: 1;
		-moz-transform: translateY(20px);
	}
	100%{
		opacity: 0;
		-moz-transform: translateY(-500px);
	}
}

.salidas{
	-moz-animation: 1s salidas 1;
}

@-moz-keyframes salidas{
	25%{
		-moz-transform: scale(0.9);
	}
	50%{
		opacity: 1;
		-moz-transform: scale(1.1);
	}
	100%{
		opacity: 0;
		-moz-transform: scale(0);
	}
}

.rebotelateral{
	-moz-animation: 1s rebotelateral 1;
}

@-moz-keyframes rebotelateral{
	0%{
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	50%{
		opacity: 1;
		-moz-transform: translateX(30px);
	}
	70%{
		opacity: 1;
		-moz-transform: translateX(-10px);
	}
}

.rebotein{
	-moz-animation: 1s rebotein 1;
}

@-moz-keyframes rebotein{
	0%{
		opacity: 0;
		-moz-transform: scale(0.3);
	}
	50%{
		opacity: 1;
		-moz-transform: scale(1.1);
	}
	70%{
		-moz-transform: scale(0.9);
	}
}

.rebote{
	-moz-animation: 2s rebote 1;
}

@-moz-keyframes rebote{
	20%, 50%, 80%{
		-moz-transform: translateY(0px);	
	}
	40%{
		-moz-transform: translateY(-45px);	
	}
	60%{
		-moz-transform: translateY(-25px);	
	}
}

.inRotativo{
	-moz-animation: 1s inRotativo 1;
}

@-moz-keyframes inRotativo{
	0%{
		opacity: 0;
		-moz-transform: translateX(-100%)
								    rotate(-260deg);
	}	
}

.outRotativo{
	-moz-animation: 1s outRotativo 1;
}

@-moz-keyframes outRotativo{
	100%{
		opacity: 0;
		-moz-transform: translateX(100%)
								    rotate(-260deg);
	}	
}

.descolgado{
	-moz-animation: 1s descolgado 1;
	-moz-transform-origin: top left;
}

@-moz-keyframes descolgado{
	20%, 60%{
		-moz-transform: rotate(80deg);
	}
	40%{
		-moz-transform: rotate(60deg);
	}
	80%{
		opacity: 1;
		-moz-transform: rotate(60deg);
	}	
	100%{
		-moz-transform: translateY(400px);
		opacity: 0;	
	}
}

.vaiven:hover{
	-moz-animation: 1s vaiven 1;
}

@-moz-keyframes vaiven{
	15%{
		-moz-transform: rotate(-10deg)
										translateX(-25%);
	}
	30%{
		-moz-transform: rotate(5deg)
										translateX(20%);
	}
	45%{
		-moz-transform: rotate(-3deg)
										translateX(-10%);
	}
	60%{
		-moz-transform: rotate(2deg)
										translateX(5%);
	}
	75%{
		-moz-transform: rotate(-1deg)
										translateX(-3%);
	}
}

.balanceo:hover{
	-moz-animation: 1s balanceo 1;
}

@-moz-keyframes balanceo{
	20%{
		-moz-transform: scale(0.7) 
									  rotate(-6deg);
	}
	30%, 70%{
		-moz-transform: scale(1.1)
										rotate(6deg);
	}
	50%, 90%{
		-moz-transform: scale(1.1)
										rotate(-6deg);
	}
}

.cartel:hover{
	-moz-animation: 1s cartel 1;
	-moz-transform-origin: top center;
}

@-moz-keyframes cartel{
	20%{
		-moz-transform: rotate(15deg);
	}
	40%{
		-moz-transform: rotate(-10deg);	
	}
	60%{
		-moz-transform: rotate(5deg);
	}
	80%{
		-moz-transform: rotate(-3deg);
	}
}

.vibra:hover{
	-moz-animation: 1s vibra infinite;
}

@-moz-keyframes vibra{
	5%, 25%, 45%, 65%, 85%{
		-moz-transform: translateY(-10px);
	}

	15%, 35%, 55%, 75%, 95%{
		-moz-transform: translateY(10px);	
	}

	10%, 30%, 50%, 70%, 90%{
		-moz-transform: translateX(-10px);
	}

	20%, 40%, 60%, 80%{
		-moz-transform: translateX(10px);	
	}
}

.chicle:hover{
	-moz-animation: 1s chicle 1;
}

@-moz-keyframes chicle{
	30%{
		-moz-transform: 
										scaleX(1.25) scaleY(0.75);
	}

	40%{
		-moz-transform: 
										scaleX(0.75) scaleY(1.25);
	}
	60%{
		-moz-transform: 
										scaleX(1.15) scaleY(0.85);
	}
}



.click:hover{
	-moz-animation: 0.6s click 1;
}

@-moz-keyframes click{
	25%, 75%{
		-moz-transform: scale(0.8);
	}
	50%{
		-moz-transform: scale(1.1);	
	}
}



.flash:hover{
	-moz-animation: 0.5s flash 1;
}

/*omited the 0% and 100% because the opacity already had that value 1*/
@-moz-keyframes flash{
	50%{
		opacity: 1;
	}

	25%, 75%{
		opacity: 0;
	}
}

.caja:hover{
	-moz-animation: 5s cambia_color 2;
}

@-moz-keyframes cambia_color{
	0%, 70%{
		background: blue;
	}
	50%{
		background: red;
		height: 200px;
	}
}

/*@-moz-keyframes cambia_color{
	from{
		background: blue;
	}
	to{
		background: yellow;
	}
}*/