p{
  font-size: 5em;
  color: #41A3F6;
  /*text-shadow: 2px 0px 0px black;*/
}

p.texto3d{
  text-shadow:  -1px 1px 0px black,
                -2px 2px 0px black,
                -3px 3px 0px black,
                -4px 4px 0px black,
                -5px 5px 0px black ;
}